//= require_self
//= require select2

@import bootstrap
@import bootstrap_custom
@import components
@import recipes

body
  font-family: 'Raleway', sans-serif

footer
  background-color: #000000
  color: #ffffff
  padding-top: 40px
  padding-bottom: 40px
  h2
    margin-top: 0
    line-height: 140%
  .footer-links
    padding-top: 40px

a
  color: #020202
  &:hover
    color: black
    text-decoration: none
