.navbar-default
  background-color: #ffffff
  border: none
  position: fixed
  width: 100%
  z-index: 77777
  padding-top: 10px
  padding-bottom: 10px

  a
    font-weight: bold

    &.active
      border-bottom: 2px solid #000000

  .navbar-brand-logo
    padding: 0
    height: 50px

    img
      max-width: 100%
      max-height: 100%
      vertical-align: middle
      vertical-align: -webkit-baseline-middle

  .navbar-center
    position: absolute
    width: 40%
    left: 0
    right: 0
    margin: 0 auto

  .nav-pills > li > input.btn
    padding: 8px 15px

  .navbar-collapse
    font-weight: bold

  .navbar-nav > li > a,
  .navbar-brand
    color: black

  .navbar-center > li > a
    font-size: 2em

body
  > .container,
  > .container-fluid
    padding-top: 70px
