img.img-responsive.history-modal-img
  @extend .modal-img
  height: 125px

.history-modal
  display: none
  position: fixed
  top: 34px
  z-index: 1050
  -webkit-overflow-scrolling: touch
  outline: 0
  right: 0
  bottom: 0
  left: 0

.history-modal-body
  @extend .modal-body
  overflow: auto
  white-space: nowrap

.history-modal-dialog
  @extend .modal-dialog
  width: 101%
  margin: 30px 0px 0px 0px

.history-modal-content
  @extend .modal-content
  box-shadow: 0 0 29px #f80014

.history-modal-card
  display: inline-block

.history-modal-links
  text-align: left
