body.recipes-new, body.recipes-edit
  a.cancel-link
    margin-left: 10px
  #recipe-image
    p
      margin-top: 10px
      margin-bottom: 0

body.recipes-show
  #top-controls
    margin-top: 20px
    a.btn-fork i
      margin-right: 5px
  img.recipe-image
    margin-top: 20px

table.recipes
  thead th
    padding: 10px 0
  tbody td
    vertical-align: top
    padding: 22px 0
    border-bottom: 2px solid #dddddd
  td.name
    font-size: 16px
    i.fa
      margin-left: 10px
      color: #333
  tr
    &:hover
      .image-red-mask
        -moz-filter: none
        -ms-filter: none
        -o-filter: none
        -webkit-filter: none
        filter:  none
  td.recipes-list-item-image
    a
      width: 100%
      div
        width: 100%
        height: 225px
        @media only screen and (max-width : 1200px)
          height: 185px
        @media only screen and (max-width : 992px)
          height: 150px
        @media only screen and (max-width : 768px)
          height: 100px
        @media only screen and (max-width : 480px)
          height: 50px
        @media only screen and (max-width : 320px)
          height: 30px
        background-size: cover
        background-repeat: no-repeat
        background-position: 50% 50%

#recipes-load-more-activator
  margin: 20px 0
  cursor: pointer

  #load-more-loader
    display: none

  img
    height: 50px
