%footer.container-fluid
  .container
    .row
      .col-xs-12
        %h2
          =t( '.text' )
    .row.footer-links
      .col-xs-16.col-md-4.text-center
        
        = link_to( 'info@metalab.harvard.edu', 'mailto:info@metalab.harvard.edu' )
      .col-xs-16.col-md-4.text-center
        = link_to( 'Twitter', 'https://twitter.com/metalabharvard' )
      .col-xs-16.col-md-4.text-center
        = link_to( 'Instagram', 'https://instagram.com/metalabharvard' )
