%footer.container-fluid
  .container
    .row
      .col-xs-12
        %h2
          Sed nulla mi, ullamcorper eget venenatis in, aliquet sed ipsum. Aenean lacinia tempus ex, nec feugiat nunc sagittis vitae. Nullam quis lobortis orci, ut ultricies lacus. Proin vel mattis elit. Aliquam sit amet eros sapien. Sed condimentum ex leo. Duis blandit mollis est, eu faucibus sem vulputate ac. Morbi faucibus, ipsum id varius imperdiet, leo nunc imperdiet velit, id tempus velit quam at libero. Phasellus luctus eu felis a fringilla. Integer vitae magna at elit euismod eleifend.
    .row.footer-links
      .col-xs-12.col-md-3.text-center
        ltk@gmail.com
      .col-xs-12.col-md-3.text-center
        111-234-5678
      .col-xs-12.col-md-3.text-center
        Twitter
      .col-xs-12.col-md-3.text-center
        Instagram
